<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ANAS-LAPTOP\SQLEXPRESS01;Initial Catalog=Company;Integrated Security=True"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <customErrors mode="RemoteOnly" defaultRedirect="" redirectMode="ResponseRewrite"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <machineKey validationKey="5C9BE0FFE6CA24483DC0AF87B170D799100B0EB515166DC4B71986CC706581DDEE25C3144E90C1860FD3858F0602076FA1B9437EC9FD6F025840C62F073EE0E2"
    decryptionKey="7F6A79E5D0DFDE2C3634ABE2DC236E485F43F743B943E4B47B615823E1C71DD1" validation="SHA1" decryption="AES"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Web.sitemap" />
      </providers>
    </siteMap>
    
    </system.web>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  <appSettings/>
  <runtime>
    
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>